body {
    background:url("../assets/bg.png") repeat;
    color:#666;
    font:12px arial,sans-serif;
    margin:0;
    padding:0;
    height:100%;
    overflow-x:hidden;
}

h1 {
    padding-top:15px;
    font:3em Georgia,serif;
}

h1, h1+span {
    text-shadow:0 1px 1px #fff;
    margin:auto;
    width:760px;
}

h1+span {
    margin:5px auto 20px;
    display:block;
    font-style:italic;
    color:#999;
}

a {
    color:#333;
    text-decoration:none;
}

a:hover {
    border-bottom:2px solid;
}

#s{
    background:#ccc;
    border-bottom:1px solid #fff;
    border-top:1px solid #fff;
    padding:20px;
    text-shadow:0 1px 0 #eee;
}

ul{
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 40px;
}

li {
    display: block;
    padding:3px;
}

h3,
caption {
    font-weight: normal;
    font-size: 1.6em;
    text-align: left;
    margin: 0;
}

caption {
    margin: 0 0 10px 0;
}

table{
    margin: 15px 0 30px 20px;
}

tr td{
    border-bottom: 1px dotted #ccc;
    width:200px;
}

td:first-child {
    text-align: right;
    font-size: 1.4em;
    width: 70px;
    padding: 1px 5px 1px 1px;
    border-bottom:none;
}

td:last-child {
    border-bottom: none;
    width: 400px;
    padding-left: 5px;
}

fieldset {
    border: 0;
    padding: 5px 0 10px 10px;
}

input[type=text] {
    border: 1px solid #bbb;
    padding: 3px;
    margin: 0 3px;
    width:40px;
}

input[type=submit] {
    padding: 2px 10px;
}

input:focus {
    background: #ff0!important;
}

#f,
#r{
    margin:0 auto;
    width: 760px;
}

#t {
    font-style: italic;
    margin: 0 0 20px 20px;
}

#b span {
    background: url("../assets/icons.png") 0 0 no-repeat;
    height: 16px;
    margin: 0 5px 0 0;
    padding-left: 20px;
    display: block;
}

#b .ff { background-position: 0 -26px; }
#b .sa { background-position: 0 -78px; }
#b .ch { background-position: 0 -52px; }
#b .op { background-position: 0 -102px; }

.b {
    display: inline-block;
    border-color: #ccc #999 #999 #ccc;
    border-style: solid;
    border-width: 1px;
    margin: 10px 10px 0 0;
    outline: 1px solid #bbb;
}

.b input {
    border: 1px;
    color: #555;
    cursor: pointer;
    font-size: 1.4em;
    height: 2em;
    margin: 0;
    background: -moz-linear-gradient(50% 0,#eee,#ddd);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(1,#ddd));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eeeeee, endColorstr=#dddddd);
    text-shadow: 0 1px 0 #fff;
    padding-bottom: 3px;
}

.b:hover {
    border-color: #888;
}

.vcard {
    right: 20px;
    bottom: 20px;
    position: fixed;
    text-align: right;
}

.sh {
    box-shadow: 0 0 10px #ccc;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
}

.sh2 {
    position: fixed;
    width: 100%;
}